
.nav-menu {
    max-width: 1250px;
    padding: 0% 2.5%;
    background-color: #000;
    border-radius: 50px;
    color: #ffffff;
    width: 100%;
    transition: all 0.9s ease;
}
.nav-menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    z-index: 99;
    max-width: 100%;
}

.logo img {
    scale: 1 !important;
}
.main-menu ul li {
    padding: 0.25% 0;
}
.main-menu ul li a {
    color: #ffffff;
}
.header-btn-wrapper .orange-btn {
    border-radius: 50px !important;
    padding: 5px 20px !important;
}
.home-banner .sub-heading p{
    color: #ff6b00;
}
.typing-words {
    width: auto;
    padding: 1% 2% !important;
    background-color: #ffffff;
    border: 2px solid #fff;
    border-radius: 50px;
    margin-left: -2.5%;
}
.home-banner-btn {
    border-radius: 50px !important;
    padding: 10px 20px !important;
}
.home-banner-btn span svg{
    background-color: #000;
    border-radius: 50%;
}
.home-banner-btn:hover span svg{
    background-color: #ff6b00;
    border-radius: 50%;
}
.home-banner-img {
    /* border: 10px solid #fff;
    border-radius: 25px; */
    scale: 1.25;
}
.about-img {
    border: 10px solid #fff3ea;
    border-radius: 25px;
}
.img-overlay::after,
.img-overlay-full::after {
    border-radius: 25px;
}
.quote{
    display: block;
    margin: 2.5% 2.5% 0% 0%;
    padding: 5% 0% 2.5% !important;
}
.quote h5{
    text-indent: 2.5em;
}
.quote .sub-heading {
    background-color: #fff3ea;
    width: 15%;
    border-radius: 20px;
}
.quote .sub-heading p{
    color: #ff6b00;
}
.about .sub-heading {
    background-color: #fff3ea;
    width: 15%;
    border-radius: 20px;
}
.about .sub-heading p{
    color: #ff6b00;
}
.about-icon-img {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 0px #FF6B0033;
    border-radius: 10px;
}
.about-card .about-complete-project,
.about-card .about-years-experience {
    padding-left: 2.5%;
    padding-top: 2.5%;
}
.about-card{
    background-color:#fff3ea;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-right: 10px Solid #ffffff;
}
.about-card:before {
    content: "";
    position: absolute;
    top: 0;
    right: 52%;
    width: 100px;
    height: 100px;
    border-top-right-radius:25px; 
    background: url('../img/Union.png') no-repeat;
    background-size: contain;
    z-index: 99;
}
.about-card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-top-right-radius:25px;
    background: url('../img/Union.png') no-repeat;
    background-size: contain;
    z-index: 99;
}
.about-check-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2.5%;
}
.about-check-icon {
    scale: 0.75;
}
.journey .sub-heading {
    background-color: #ffffff;
    width: 10%;
    border-radius: 20px;
}
.journey .sub-heading p{
    color: #ff6b00;
    margin-left: 20%;
}
.journey-topics::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ff6b00;
    display: inline-block;
    left: 35%;
}
/* .journey-topic-item::before {
    left: 35% !important;
    top: 150% !important;
} */
.journey-topic-item {
    border: 2px dashed #ff6b00;
    border-radius: 25px;
    padding: 2.5% 5%;
    color: #ff6b00 !important;
}
.journey-topic-one {
    top: 0%;
    left: 40%;
    margin-left: 13%;
}
.journey-topic-two {
    top: 13%;
    left: 40%;
    margin-left: 13%;
}
.journey-topic-three {
    top: 26%;
    left: 40%;
    margin-left: 13%;
}
.journey-topic-four {
    bottom: 45.5%;
    left: 40%;
    margin-left: 13%;
}
.journey-content {
    border: 10px solid #FF6B0033;
    border-radius: 25px;
    padding: 2.5%;
}
.journey-border {
    position: relative;
    padding-left: 0%;
}
.journey-border::before {
    content: '';
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #FF6B0022;
    border-radius: 25px;
    z-index: 0;
}
.journey-content p {
    margin-left: 2.5%;
    text-indent: 0;
    text-align: justify;
}
.designation {
    color: #ff6b00;
}
.duration {
    color: #ff6b00;
    position: absolute;
    top: 0%;
    right: 5%;
    background-color: #FF6B0033;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0.75% 1.5%;
    z-index: 99;
}
.journey-img {
    border-radius: 15%;
    scale: 1;
    box-shadow: 0px 0px 30px 0px #FF6B004D;
}
.bg-custom-theme{
    background-color: #fff3ea;
    padding-top: 2.5%;
    padding-bottom: 5%;
    border-radius: 25px;
}
.testimonial .sub-heading {
    background-color: #fff3ea;
    width: 10%;
    border-radius: 20px;
}
.testimonial .sub-heading p{
    color: #ff6b00;
    margin-left: 20%;
}
.testimonial-card {
    display: flex;
    min-height: 300px;
    max-height: 100%;
    padding: 5% 7.5%;
    border-radius: 25px;
    background-color: #FFFAF7;
    flex-wrap: wrap;
    margin-top: 0px;
}
.testimonial .owl-carousel .owl-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.partners .sub-heading p{
    color: #ff6b00;
}
.partner-card {
    background: #ffffff;
    border: 1px solid #FFE2D1;
    border-radius: 15px;
    height: 100px;
}
.partner-card img {
    scale: 0.75;
}
.portfolio {
    background: #fff3ea;
}
.portfolio .sub-heading p{
    color: #ff6b00;
}
.portfolio-massonary-container {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 2.5%;
}
.portfolio-massonary-items img {
    border-radius: 25px;
}
.portfolio-card-overlay {
    border-radius: 25px;
}
.faqs .sub-heading {
    background-color: #fff3ea;
    width: 7.5%;
    border-radius: 20px;
}
.faqs .sub-heading p{
    color: #ff6b00;
    margin-left: 25%;
}
.accordion {
    background: #fff3ea;
    border-radius: 30px;
    padding: 0.5% 2.5%;
    margin-top: 5%;
}
.accordion .accordion-item {
    background: #ffffff;
    border-radius: 30px;
}
.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 30%;
    right: -15%;
    width: 22px;
    height: 22px;
    border: none;
}
.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background: #ff6b00;
    border-radius: 5px;
}
.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 10%;
    left: 92.5%;
    width: 2px;
    height: 20px;
    background: #ff6b00;
    border-radius: 5px;
}
.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: none
}
.accordion button[aria-expanded='true'] .accordion-title {
    padding: 2.5%;
}
.accordion .accordion-content p {
    margin: 2.5%;
}
.home-contact{
    background: #fff3ea;
    padding: 2.5% 0%;
}
.home-contact .sub-heading{
    background-color: #ffffff;
    width: 10%;
    border-radius: 20px;
}
.home-contact .sub-heading P{
    color: #ff6b00;
    margin-left: 15%;
}
.home-contact-icon-container {
    padding-left: 120px;
}
.contact-address,
.contact-mail{
    max-width: 450px;
    width: 100%;
    background: #ffffff;
    padding: 1.25%;
    border-radius: 35px;
    margin: 0% 2.5%;
}
.contact-address h4,
.contact-phone h4,
.contact-mail h4{
    color: #ff6b00;
}
.light-orange-bg-icon {
    width: 50px;
    height: 50px;
    background-color: var(--light-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form{
    background: #ffffff;
    padding: 2.5%;
    border-radius: 25px;
    margin: 5% 7.5%;
}
.contact-form .orange-btn {
    border-radius: 25px;
}
.home-contact-input {
    background: #fff3ea;
    padding: 10px;
    border: 1px solid #FFE2D1;
    border-radius: 15px;
    line-height: 1.7;
}
.footer{
    background-color: #ffffff;
}
.footer-top{
    background-color: var(--black-color);
    margin: 2% 2.5% 0.75% 2.5%;
    border-radius: 25px;
}
.footer-bottom{
    background-color: var(--black-color);
    margin: 0.75% 2.5% 1% 2.5%;
    border-radius: 25px;
}
.footer-logo {
    margin-bottom: 2.5%;
}
.footer-col-link-container {
    list-style-type: none;
    margin-top: 10%;
}
.footer-link-item {
    margin-bottom: 2.5%;
}
.footer-social-container {
    margin-top: 10%;
}
.footer-social-item-2 {
    margin-right: 5%;
}



/* responsive code for big medium laptop*/
@media only screen and (max-width: 1396px) {

}
/* responsive code for tablet */
@media only screen and (max-width: 992px) {
    .journey .sub-heading {
        background-color: #ffffff;
        width: 15%;
        border-radius: 20px;
    }
    .journey .sub-heading p{
        color: #ff6b00;
        margin-left: 20%;
        text-align: center;
    }
    .home-banner-img {
        scale: 1;
    }
    .home-banner-img-col {
        margin-bottom: 5% !important;
        margin-top: -10%;
    }
    .home-banner-text-col {
        margin-top: -15%;
        padding: 0% 10% 0% 5%;
    }
    .home-contact .sub-heading{
        width: 15%;
    }
    .quote{
        margin: 2.5% 1.5%;
        padding: 5% 0% 2.5% !important;
    }
    .quote .section-heading {
        margin-left: 0% !important;
    }
    .about .section-heading {
        margin-left: 2.5%;
    }
    .about-text-top .about-text {
        margin: 2.5%;
    }
    .about-image-col {
        margin: 5% 0%;
    }
    .portfolio-massonary-container {
        padding: 5%;
    }
    .portfolio-massonary-items:last-child {
        display: none;
    }
    .home-banner-img-col {
        text-align: start !important;
    }
    .home-contact-icon-container .row-mobile-margin{
        display: flex;
        align-items: center;
        gap: 25px;
    }
    .contact-address,
    .contact-phone,
    .contact-mail{
        max-width: 90%;
        min-height: 150px;
        padding: 2.5% 5%;
        margin: 1.5% 0%;
    }
    .contact-form{
        margin: 2.5%;
    }
    .accordion button .icon {
        display: inline-block;
        position: absolute;
        top: 25%;
        right: -12.5%;
        width: 22px;
        height: 22px;
        border: none;
    }
    .footer-social-item-2 {
        margin-right: 15px;
    }
    .footer-top {
        padding: 5% 0% 7.5% 0% !important;
    }
    .journey-first-item .row{
        margin-left: 0%;
    }
    .journey-first-item .row .journey-img{
        margin-left: -0.5%;
        margin-bottom: 1%;
    }
}
@media only screen and (max-width: 780px) {
    .mobile-menu{
        display: block !important;
    }
    .nav-menu{
        display: none !important;
    }
}
/* responsive code for mobile */
@media only screen and (max-width: 576px) {
    .home-banner .home-banner-img{
        scale: 0.85;
        margin: 0% -5%;
    }
    .home-one-title{
        font-size: 30px !important;
    }
    .about .sub-heading {
        width: 25%;
        border-radius: 20px;
    }
    .about-card:before {
        top: 2.5%;
        right: 5%;
    }
    .about-card:after {
        top: 52.5%;
        right: 5%;
    }
    .about-text-col {
        padding: 0% 2.5%;
    }
    .about .row-mobile-margin{
        margin: 0% 2.5%;
    }
    .journey .sub-heading {
        background-color: #ffffff;
        width: 30%;
        border-radius: 20px;
    }
    .journey-img {
        scale: 0.75;
    }
    .journey-first-item{
        padding: 5% 5% 0% 2.5%!important;
    }
    .journey-first-item .row .journey-img{
        margin-left: -2.5%;
        margin-bottom: 1%;
    }
    .duration {
        padding: 1% 5%;
    }
    .bg-custom-theme{
        width: 97.5%;
    }
    .testimonial .sub-heading {
        width: 30%;
    }
    .faqs{
        padding: 2.5% 0% 5%!important;
    }
    .faqs .section-heading-middle h2{
        padding: 0% 0.5%;
        margin-bottom: 2.5%;
    }
    .accordion {
        margin: 0% 2.5%;
        padding: 2.5% !important;
    }
    .portfolio-massonary-items:last-child {
        display: block;
    }
    .home-contact .sub-heading{
        width: 30%;
    }
    .home-contact-icon-container .row-mobile-margin{
        gap: 10px;
    }
    .contact-address,
    .contact-phone,
    .contact-mail{
        max-width: 90%;
        min-height: 150px;
        padding: 1.5% 5%;
        margin: 1.5% 0%;
    }
}