

/* Banner Section Slider */

/* .banner-area .carousel-inner > .item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(63.17% 68.09% at 64.51% 31.83%, rgba(10, 35, 62, 0) 0%, #0A233E 100%);
    mix-blend-mode: multiply;
    z-index: 1;
} */
.banner-area .top-pad .content {
    padding-top: 10%;
}
.banner-area .content h3 {
    margin-bottom: 15px;
}
.banner-area .content h2 {
    margin-bottom: 10px;
}
.banner-area .content .lists {
    display: none;
    margin-bottom: 10px;
}

/* About Us Section */
.fixed-features .features-items {
    top: -100px;
    padding: 0%;
    border-radius: 12px;
}
.about-area .about-items .item {
    padding: 40px 20px;
    display: block;
}
.about-area .about-content {
    width: auto;
}
.about-area .about-items .info li {
    align-items: flex-start;
}
.about-area .author .content .thumb {
    padding-right: 15px;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.about-area .author .content .thumb img {
    border: 1px solid #dddddd;
}
.about-area .author .signature {
    border-left: 2px solid #939393;
}
@media only screen and (max-width: 991px) {
    body, .banner-area, .banner-area div {
        height: 100%;
    }
    .banner-area .carousel-control {
        display: none;
    }
    nav.navbar.bootsnav .navbar-toggle {
        font-size: 30px;
        top: 2.5%;
    }
    .navbar.navbar-fixed .attr-nav > ul > li {
        padding: 16px 0 !important;
    }
    .about-area .about-content .info {
        padding-right: 15px;
        text-align: justify;
    }
    .about-area .about-content .info li {
        display: flex;
        margin-bottom: 2.5%;
        text-align: justify;
    }
    .about-area .author .content .thumb img {
        width: 100%;
        height: auto;
        min-width: 40px;
        min-height: 40px;
    }
}
@media only screen and (max-width: 767px) {
    .about-area .author {
        display: flex;
        justify-content: space-between;
    }
    .about-area .author .content {
        display: flex;
    }
    .about-area .author .content .thumb {
        padding-right: 5px;
    }
    .about-area .author .content .thumb img {
        width: 60px !important;
    }
    .about-area .author .content .info h4 {
        font-size: 16px;
        margin-bottom: 0%;
    }
    .about-area .author .content .info span {
        font-size: 14px;
    }
    .about-area .author .signature {
        margin-left: 10px;
        padding-left: 10px;
    }
    .about-area .author .signature img {
        max-height: 40px;
    }
    .about-area .about-items .item {
        padding: 20px 10px;
    }
}




/* ============================================================== 
     # Services
=================================================================== */
.carousel-services-area .carousel-service-items .thumb, 
.carousel-services-area .carousel-service-items .info {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.carousel-services-area .carousel-service-items .info {
  padding: 80px;
}
.carousel-services-area .carousel-service-items .info p {
    text-align: justify;
}
.carousel-services-area .carousel-service-items .info h2 {
  font-weight: 600;
  margin-top: -7px;
}
.carousel-services-area .carousel-service-items .info h5 {
  color: #ff4949;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.carousel-services-area .carousel-service-items .info a {
  margin-top: 5px;
}
.carousel-services-area .carousel-service-items.owl-carousel .owl-dots {
  bottom: 30px;
  margin: 0 0 0 80px;
  position: absolute;
  right: 30px;
}
.carousel-services-area .carousel-service-items.owl-carousel .owl-dots .owl-dot span {
  background: #ffffff none repeat scroll 0 0;
  border: 3px solid #ff4949;
  height: 20px;
  width: 20px;
}
.carousel-services-area .carousel-service-items.owl-carousel .owl-dots .owl-dot.active span,
.carousel-services-area .carousel-service-items.owl-carousel .owl-dots .owl-dot span:hover {
  background: #ff4949 none repeat scroll 0 0;
}
@media only screen and (max-width: 991px) {
    .carousel-services-area .carousel-service-items .thumb, 
    .carousel-services-area .carousel-service-items .info {
      display: block;
      width: 100%;
    }
    .carousel-services-area .carousel-service-items .thumb {
      min-height: 500px;
    }
    .carousel-services-area .carousel-service-items .info {
      padding: 50px 15px;
      text-align: center;
    }
    .carousel-services-area .carousel-service-items.owl-carousel .owl-dots {
      margin: 0;
      position: relative;
      right: 0;
      width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .carousel-services-area .carousel-service-items .thumb {
      min-height: 300px;
    }
}